@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Lato', sans-serif;
}

.box {
    border: 1px solid #bdbdbd;
}

.pb-page {
    color: #313131;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
}

.pb-page:hover {
    background-color: #aeaeae;
}


.main-wrapper {
    height: calc(100vh - 57px);
}
